html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
} /*sets font size for webkit/microsoft browsers to 100%*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} /*makes sure all browsers follow proper box model rules*/

html, body {
  height: 100%;
}

body {
  display: grid;
  grid: "header" 
        "nav   " max-content
        "main  " min-content
        "aside " min-content
        "footer" min-content /
        1fr; 

  font-family: 'Open Sans', sans-serif;
  font-size: 15px;   
  color: #EDF2F4;
  background-color: #2b2d42;
}

header {
  grid-area: header;
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  text-align: center;
  padding: 5px;
  padding-right: 20px;
  margin: 5px;
}

nav {
  grid-area: nav;
  background-color: #8D99AE;
  text-align: center;
}

main {
  grid-area: main;
  text-align: center;
  padding: 10px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-decoration: underline;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

footer {
  text-align: center;
  font-size: 12px;
}

#bigcontain {
  background-image: url("images/pexels-kelly-2898205.jpg");
  background-size: cover;
}

#contentGrid {
  display: grid;
  grid-template-columns: 1fr;
}

aside {
  grid-area: aside;
  margin: 10px;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(43, 45, 66, 0.96);
}

footer {
  grid-area: footer;
  padding: 0.5em;
  background-color: #8D99AE;
}

ul {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

#recipe, .submission {
  padding: 20px;
  border-radius: 30px;
  background-color: rgba(43, 45, 66, 0.96);
}

#ingredientsList {
  padding-left: 12px;
}

#drinkImage {
  width: 50%;
  margin: 10px;
  border: 2px solid;
  border-radius: 20px;
}

 #input {
  margin: 8px;
}

#output {
  margin: 10px;
  padding: 4px;
} 

#inputOutput {
  padding-top: 3px;
}

.convertform {
  border: solid 1px;
  padding-bottom: 10px;
  border-radius: 30px;
}

.definitions {
  text-align: left;
}

#arrowDown{
  vertical-align: bottom; /*Change this to adjust the >> icon*/
  margin: 3px;
}

.submission {
  border-radius: 20px;
}

/*navigation stuff*/

 .top-nav {
  padding: .5em;
  overflow: hidden;
  position: relative;
}

.top-nav a {
  display: block;
  text-decoration: none;
  font-size: 17px;
  color: #EDF2F4;
  padding: 8px;
  margin: 7px 0 7px 0;
} 

.top-nav a:hover{
  background-color: #303030;
  color: white;
}

#nav-list {
  padding-left: 0;
  width: 100%;
  text-align: center;
} 

.invis {
  display: none;
}

.hamburger {
  display: block;
  position: absolute;
  left: 88%;
  top: 2%;
  font-size: 3rem;
  font-weight: bold;
  padding-left: 10px;
}



/*large screen CSS*/
@media screen and (min-width: 768px) {

  body {
    display: grid;
    grid: "header header" min-content
          "nav    nav" max-content
          "main   main" min-content
          "aside  aside" min-content
          "footer footer" min-content /
          1fr; 
  
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;   
  }

  header {
    /* text-align: left; */
    padding: 20px;
    margin: 10px;
  }

  nav {
    border: #8D99AE 1px solid;
  }

  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
  }

  #recipe, .submission {
    background-color: rgba(43, 45, 66, 0.96);
    margin: 20px 200px 20px 200px; 
    padding: 20px;
  }  

  #contentGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #drinkImage {
    width: 30%;
    margin: 10px;
    border: 2px solid;
  }
  
  #input {
    margin: 8px;
  }
  
  #output {
    margin: 10px;
    padding: 4px;
  } 
  
  #inputOutput {
    padding-top: 3px;
  }

  .convertform {
    border: solid 1px;
    margin: 20px;
  }
  
  #arrowdown {
    vertical-align: bottom; /*Change this to adjust the >> icon*/
  }

  #submitForm > p {
    margin: 12px;
  }

/*nav stuff */

#hamburger {
  display: none;
}

.top-nav {
  display: contents;
  padding: .5em;
}

.top-nav a {
  display: inline;
} 

ul#nav-list > li {
  display: inline;
  border-right: #EDF2F4 1px dotted;
}

ul#nav-list > li:last-child {
  border-right: none;
}

ul > li > a {
  color: #EDF2F4;
  padding-top: 20px;
  margin: 8px;
  text-align: center;
  text-decoration: none;
}

ul > li > a:hover {
  background-color: #2b2d42;
  text-decoration: underline;
}

}